{% extends "base.html" %} {% block content %}

{% if user.is_staff %}
<a href=" {% url 'book-create' %} " class="btn btn-primary">Create book</a>
{% else %}
<a href=" {% url 'book-create' %} " class="btn btn-primary disabled">Create book</a>
{% endif %}
<h1>Book List</h1>

{% if book_list %}
<ul>
  {% for book in book_list %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="text-info">There are no books in the library.</p>
{% endif %} {% endblock %}
